@media (max-width: 1615px) {
    .projects__item-title {
        font-size: 28px;
        &:hover {
            font-size: 30px; 
        }
    }
    .projects__item-text {
        font-size: 18px;
    }
    .item__content {
        padding: 55px 40px 40px;
    }
    .item-btn__project {
        margin-right: 30px;
    }
    .item-btn {
        font-size: 25px;
    }
    .insta__link-btn {
        text-align: center;
    }
}








@media (max-width: 1450px) {
  .dreams__title {
      font-size: 40px;
  }
  .dreams__text {
      font-size: 18px
  }
  .dreams__content-inner {
      margin-right: 80px;
  }
}

@media (max-width: 1290px) {
    .slick-arrow-next {
        right: 0px;
        top: 193px;    .slick-arrow-next {
            right: -55px;
            top: 193px;
        } 
        .slick-arrow-prew {
            left: -55px;
            top: 193px;
        }
    } 
    .slick-arrow-prew {
        left: 0px;
        top: 193px;
    }
    .item-btn {
        font-size: 20px;
        padding: 20px 35px;
    }

    .insta__link-btn svg {
        top: 10px;
    }

}

@media (max-width: 1200px) {
  .header__top-menu {
    padding: 0 10px;
  }
}

@media (max-width: 1100px) {
    .header__title {
        font-size: 40px;
    }
    .header__subtitle {
        font-size: 16px;
    }

    .dreams__content-inner {
        margin: 0 auto;
        padding: 10px;
    }
    .dreams__content {
        margin: 15px 0;
    }
    .dreams__title {
        font-size: 30px;
    }
    h2.dreams__title {
        margin-bottom: 30px;
    }
    .dreams__text {
        font-size: 16px
    }

    .insta {
        flex-direction: column-reverse;
        align-items: center;
    }
    .insta__link {
        background-image: none; 
    }
    .insta__link-btn {
        margin: 20px 0 0 0;
    }
    .insta__phone {
        text-align: center;
    }
  }

@media (max-width: 1100px) {
    .projects__item {
        width: 100%;
    }
    .projects__item-title {
        font-size: 40px;
        &:hover {
            font-size: 40px;
        }
    }
    .projects__item {
        display: flex;
        align-items: center;
    }
    .item-title__pink {
        transition: 0.2s;
        &:hover {
            text-shadow: 1px 1px 2px #5a5a5a;
        }
    }
}



@media (max-width: 820px) {
  .footer__content {
      justify-content: center;
      flex-wrap: wrap;
  }
  .footer__menu, .footer__address, .footer__contacts {
      width: 50%;
      margin-bottom: 20px;
  }
  .dreams {
      flex-direction: column;
  }
    .dreams__content, .dreams__img {
        width: 100%;
    } 

    .insta__phone {
        max-width: 346px;
        max-width: 692px;
    }
    .insta__phone-img {
        width: 100%;
        height: 100%;
    }



}

@media (max-width: 760px) {
    .rates__oll-reviews {
        span {
            font-size: 30px;
        }
        a {
            font-size: 16px;
            margin-right: 20px;
        }
    }
    .rates__img {

        img {
         height: 45px;
         width: 121px;
        }
     }
}

@media (max-width: 720px) {
    .header__menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 120px;
        left: 0;
        padding: 20px 0;
        background-color: rgba(71,	74,	81, 0.8);
        border-radius: 10px;
        .header__menu-items {
            flex-direction: column;
            li {
                display: block;
                margin: 0;
                text-align: center;
                margin: 5px 0;
            }
        }
    }
    .burger {
        display: block;
    }
    .header__title {
        font-size: 36px;
    }

    .slick-arrow-next, .slick-arrow-prew {
        display: none;
    } 
}

@media (max-width: 620px) {
    .header__awards {
        margin: 20px 0;
        li {
            margin: 0 5px;
        }
    }
    .header__title {
        font-size: 30px;
        &::after {
            margin: 10px auto;
        }
    }
    .header__btn  {
        font-size: 20px;
    }
  }



@media (max-width: 620px) {
    .insta__link-btn {
        font-size: 16px;
        min-width: 235px;
        padding: 15px 30px;
        svg {
            width: 30px;
            height: 30px;
            top: 9px;
            left: 20px;
        }
    }
}

@media (max-width: 600px) {
    .footer__menu, .footer__address, .footer__contacts {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__menu-items {
        display: flex;
        justify-content: space-between;
    }
    .item-btn {
        font-size: 16px;
        padding: 10px 30px;
    }
    .insta__link-btn {
        padding: 15px 30px;
    }
    .projects__item-text p {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .item__content {
        height: auto;
    }
    .projects__item-title {
        font-size: 25px;
    }
  }



@media (max-width: 500px) {
    .header {
        padding: 15px 0;
    }
    .header__logo {
        width: 100px;
    }
    .header__menu {
        padding: 5px 0;
        top: 90px;
    }
    .slider-item__text {
        font-size: 16px;
        padding: 35px 25px 35px;
    }
    .reviews__rates {
        flex-direction: column;
    }
    .rates__oll-reviews {
        text-align: center;
        margin-bottom: 10px;
    }
    .reviews {
        padding-bottom: 30px;
    }
  }

  @media (max-width: 480px) {
 
    .footer__menu-items {
        display: block;
    }
    .footer__menu {
        text-align: center;
    }
    .footer__policy-item {
        display: block;
        margin: 5px 0;
    }
    .footer__policy-items::after {
        margin: 10px auto 10px;
    }

    .header__awards {
        display: none;
    }
    .header__top-menu {
        margin-bottom: 75px;
    }
    .steps__center {
        margin: 17px 10px 110px;
    }
    .steps__text {
        font-size: 14px;
    }
    .work {
        padding-top: 40px;
    }
    .item__content {
        padding: 30px 15px;
    }
  }

  @media (max-width: 450px) {
 
    .dreams__title {
        font-size: 25px;
    }
    
  }

@media (max-width: 480px) {  
    .reviews__title, .work__title {
        font-size: 40px;
    }
}

@media (max-width: 370px) {  
   .item-btn {
       display: block;
       margin: 0 auto;
       text-align: center;
       width: 200px;
   }
   .item-btn__project {
       margin-bottom: 15px;
   }
   .insta__link-btn {
        margin: 20px 0 0 0;
   }
}







@media (min-width: 720px) {
    .header__menu {
        display: block !important;
    }
}